* {
    margin: 0;
    padding: 0;
}
$primary-color: #2274A5;
$border-radius: 48px;


body {
    color: $primary-color;
    font-family: 'Poppins', sans-serif;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10vh ;
    // background-image: url("https://locationpictures.s3.eu-central-1.amazonaws.com/Pictures/1620120919/125160.png") ;
    // background-repeat: no-repeat, no-repeat;
    // background-position: right, left; 

    height: 100%;
    width: 100%;
    .background-img {
        position: absolute;
        top: 0;
        
    }
    .content {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .card-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 128px;
            margin-bottom: 27px;

            .price-card {
                margin-top: 62px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                border-radius: $border-radius;
                background-color: white;
                height: 247.63px;
                .price {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h1 {
                        position: relative;
                        font-size: 100px;
                        line-height: 125px;
                        font-weight: 700;
                        padding: 0 65px;
                    }
                    p {
                        position: absolute;
                        top: 5px;
                        left: 37px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 45px;
                        line-height: 67px;
                    }
                }
                p {
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 45px;
                    text-transform: capitalize;
                }
            
            }
        } 
        .detail {   
        background: rgba(255, 255, 255, 0.83);
        mix-blend-mode: normal;
        backdrop-filter: blur(21px);
        border-radius: $border-radius;
        h2 {
            font-weight: 600;
            font-size: 60px;
            line-height: 90px;
            text-align: center;
            text-transform: capitalize;
            margin: 46px 144px;
            span {
                font-weight: normal;
                font-size: 40px;
                line-height: 60px;
                text-align: center;
                text-transform: capitalize;
            }

        }
        .date {
            display: flex;
            align-items: center;
            justify-content: center;
            p:first-of-type {
                margin-right: 16px;
              }
            p {
                font-weight: 600;
                font-size: 30px;
                line-height: 45px;
                text-transform: capitalize;
            }
            span {
                font-weight: normal;
                font-size: 30px;
                line-height: 45px;
                text-transform: capitalize;
            }
        }
        .trip-way {
           .trip-type {
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 42px;
            text-align: center;
            text-transform: capitalize;
            border-radius: 48px;
            position: relative;
         
           }
           .trip-type::after{
                position: absolute;
                content: "";
                background: #2274A5;
                border-radius: 48px;
                transform: matrix(1, 0, 0, -1, 0, 0);
                height: 1.2px;
                width: 71.06px;
                top: 44px;
                right: 45%;


           }

        }
        }
    }
    
}
