* {
  margin: 0;
  padding: 0;
}

body {
  color: #2274A5;
  font-family: 'Poppins', sans-serif;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 10vh;
  height: 100%;
  width: 100%;
}

.card .background-img {
  position: absolute;
  top: 0;
}

.card .content {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .content .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 128px;
  margin-bottom: 27px;
}

.card .content .card-head .price-card {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 48px;
  background-color: white;
  height: 247.63px;
}

.card .content .card-head .price-card .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .content .card-head .price-card .price h1 {
  position: relative;
  font-size: 100px;
  line-height: 125px;
  font-weight: 700;
  padding: 0 65px;
}

.card .content .card-head .price-card .price p {
  position: absolute;
  top: 5px;
  left: 37px;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
}

.card .content .card-head .price-card p {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

.card .content .detail {
  background: rgba(255, 255, 255, 0.83);
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
  border-radius: 48px;
}

.card .content .detail h2 {
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  text-transform: capitalize;
  margin: 46px 144px;
}

.card .content .detail h2 span {
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
}

.card .content .detail .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .content .detail .date p:first-of-type {
  margin-right: 16px;
}

.card .content .detail .date p {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

.card .content .detail .date span {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

.card .content .detail .trip-way .trip-type {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 48px;
  position: relative;
}

.card .content .detail .trip-way .trip-type::after {
  position: absolute;
  content: "";
  background: #2274A5;
  border-radius: 48px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  height: 1.2px;
  width: 71.06px;
  top: 44px;
  right: 45%;
}
/*# sourceMappingURL=main.css.map */